*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# jrd 
src/java/*/bin
src/java/*/lib

# cc
src/java/jcc/src/org/mars
src/java/jlr/src/org/mars

# vim
*.swp

# distribution
dist

# idea
.idea/workspace.xml
.idea/misc.xml

!ivy/native/ojdbc/ojdbc-14.jar
